@charset "UTF-8";

        *{
            margin: 0PX;
            padding: 0PX;
            font-family: Arial, Helvetica, sans-serif;
        } 

        ::-webkit-scrollbar {
            width: 0px;
            padding: 0px;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: darkred;
            color: rgb(255, 255, 255);
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            margin-top: -5px;
        }
        
        a:hover {
            background-color: red;
        }