@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg');
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 470px;
    width: 233px;
    background: url('../imagens/frame-iphone.png');
}

iframe#tela {
    position: relative;
    top: 60px;
    left: 17px;
    width: 200px;
    height: 353px;
}