@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg');
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 470px;
    width: 233px;
    background: url('../imagens/frame-iphone.png');
}

iframe#tela {
    position: relative;
    top: 60px;
    left: 17px;
    width: 200px;
    height: 353px;
}
section#redes-sociais{
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform .5s, border .1s;
}